<a href="https://colab.research.google.com/github/DWA-GIT/TESI-UNIFACISA/blob/master/KMeans(N%C3%A3o_Supervisionado).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Instalando o seaborn

In [0]:
!pip install seaborn==0.9.0

Importações

In [0]:
import pandas as pd

In [3]:
uri_filmes = 'https://raw.githubusercontent.com/DWA-GIT/TESI-UNIFACISA/master/movies_novo.csv'
filmes = pd.read_csv(uri_filmes)
filmes.head()

   movieId  ...                                       genres
0        1  ...  Adventure|Animation|Children|Comedy|Fantasy
1        2  ...                   Adventure|Children|Fantasy
2        3  ...                               Comedy|Romance
3        4  ...                         Comedy|Drama|Romance
4        5  ...                                       Comedy

[5 rows x 3 columns]

In [4]:
filmes.shape

(9742, 3)

In [0]:
filmes.columns = ['filme_id', 'titulo', 'genero']
filmes.head()

In [8]:
generos = filmes.genero.str.get_dummies()
dados_dos_filmes = pd.concat([filmes, generos], axis=1)
dados_dos_filmes.tail()

      filme_id                                     titulo  ... War  Western
9737    193581  Black Butler: Book of the Atlantic (2017)  ...   0        0
9738    193583               No Game No Life: Zero (2017)  ...   0        0
9739    193585                               Flint (2017)  ...   0        0
9740    193587        Bungo Stray Dogs: Dead Apple (2018)  ...   0        0
9741    193609        Andrew Dice Clay: Dice Rules (1991)  ...   0        0

[5 rows x 23 columns]

Transformar os dados (escalar)

In [10]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

generos_escalados = scaler.fit_transform(generos)
generos_escalados

array([[-0.05917995, -0.48060698,  2.59101927, ..., -0.49125897,
        -0.20201972, -0.13206534],
       [-0.05917995, -0.48060698,  2.59101927, ..., -0.49125897,
        -0.20201972, -0.13206534],
       [-0.05917995, -0.48060698, -0.3859485 , ..., -0.49125897,
        -0.20201972, -0.13206534],
       ...,
       [-0.05917995, -0.48060698, -0.3859485 , ..., -0.49125897,
        -0.20201972, -0.13206534],
       [-0.05917995,  2.0807022 , -0.3859485 , ..., -0.49125897,
        -0.20201972, -0.13206534],
       [-0.05917995, -0.48060698, -0.3859485 , ..., -0.49125897,
        -0.20201972, -0.13206534]])

Usando clusters (KMeans)

In [12]:
from sklearn.cluster import KMeans

modelo = KMeans()

modelo.fit(generos_escalados)

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
       n_clusters=8, n_init=10, n_jobs=None, precompute_distances='auto',
       random_state=None, tol=0.0001, verbose=0)

In [13]:
print(f'Grupos {modelo.labels_}')

Grupos [2 2 7 ... 1 2 7]

In [14]:
print(generos.columns)

Index(['(no genres listed)', 'Action', 'Adventure', 'Animation', 'Children',
       'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy', 'Film-Noir',
       'Horror', 'IMAX', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller',
       'War', 'Western'],
      dtype='object')

In [15]:
print(modelo.cluster_centers_)

[[-5.91799474e-02  4.50154483e-01 -2.37100112e-01 -2.18170949e-01
  -2.63365553e-01 -1.79429774e-01  2.66928909e+00 -2.17489438e-01
   1.77103275e-01 -2.38849119e-01 -9.49256298e-02 -1.61734491e-01
  -5.06434181e-02 -1.54070570e-01  3.15442626e-01 -2.54469667e-01
  -2.51320899e-01  7.33809744e-01 -1.60619462e-01 -1.32065337e-01]
 [-5.91799474e-02  1.37381502e-01  4.47277344e-02 -2.52641870e-01
  -2.68515153e-01 -7.68067154e-01 -3.74631584e-01 -2.17489438e-01
   3.87141404e-01 -2.67751640e-02 -9.49256298e-02  2.70736558e-01
   5.12214815e-02 -6.90920588e-02  1.01518715e-01 -5.43965202e-02
   2.25199938e-01  2.49102368e-01  1.71279476e-01 -1.32065337e-01]
 [-5.91799474e-02 -2.82906762e-02  8.68178346e-01  2.30375870e+00
   2.48602547e+00  2.24220852e-01 -3.35773022e-01 -2.17489438e-01
  -5.83612792e-01  8.54381781e-01 -9.49256298e-02 -2.66795763e-01
   2.00063258e-01  3.84541256e-01 -1.27906024e-01 -2.58678459e-01
   1.35954338e-01 -4.61689501e-01 -1.80096178e-01 -1.32065337e-01]
 [-5.91799474e-02 -4.57269310e-01 -3.52042261e-01 -2.30493698e-01
  -2.61412555e-01 -6.04923458e-01 -3.39962783e-01  4.59792443e+00
  -7.99465004e-01 -2.78013402e-01 -9.49256298e-02 -3.18895422e-01
   1.58714649e-02 -2.56749186e-02 -2.30623248e-01 -4.30324398e-01
  -3.34434762e-01 -4.79747143e-01 -6.11896950e-02 -1.32065337e-01]
 [-5.91799474e-02  1.52005530e-01  2.59658967e-01 -1.84140506e-01
  -1.27030418e-01 -3.09430531e-01 -1.91262868e-01 -1.88480921e-01
  -1.97589534e-01 -1.61551089e-01 -9.49256298e-02 -1.93735887e-01
  -3.30147131e-02  1.42649770e-01 -1.73175442e-01 -1.17110680e-01
  -1.74215266e-01 -2.32485661e-01  1.08343634e-01  7.57200960e+00]
 [-5.91799474e-02 -3.33405302e-01 -3.17512460e-01 -1.63863709e-01
  -2.70451223e-01 -7.44895242e-01  1.44472330e+00 -2.17489438e-01
   2.55531052e-01 -2.52432562e-01  1.05345627e+01 -2.57559288e-01
  -1.28397078e-01 -1.88418950e-01  9.22483843e-01 -1.94188487e-01
  -2.19794951e-01  6.99553150e-01 -2.02019716e-01 -4.35127516e-02]
 [ 1.68976156e+01 -4.80606979e-01 -3.85948500e-01 -2.58679155e-01
  -2.70451223e-01 -7.92126305e-01 -3.74631584e-01 -2.17489438e-01
  -9.00246719e-01 -2.94809878e-01 -9.49256298e-02 -3.34055205e-01
  -1.28397078e-01 -1.88418950e-01 -2.49986367e-01 -4.42633460e-01
  -3.34434762e-01 -4.91258966e-01 -2.02019716e-01 -1.32065337e-01]
 [-5.91799474e-02 -2.86962322e-01 -2.03600107e-01 -2.55791880e-01
  -2.70451223e-01  1.24157020e+00 -3.74631584e-01 -2.17489438e-01
  -2.95593305e-01 -8.57563636e-02 -9.49256298e-02 -1.65172462e-01
  -1.14542097e-01  3.66428868e-02 -2.06844634e-01  3.47018493e-01
  -1.97123794e-01 -4.21388202e-01 -1.11854655e-01 -1.32065337e-01]]