<a href="https://colab.research.google.com/github/DWA-GIT/TESI-UNIFACISA/blob/master/Regress%C3%A3oLogistica.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

*Importação das libs*

In [0]:
import pandas as pd
from sklearn.model_selection import train_test_split
from collections import Counter

Importar o dataset

In [4]:
uri = 'https://raw.githubusercontent.com/DWA-GIT/TESI-UNIFACISA/master/avaliacoes_usuario.csv'
movies = pd.read_csv(uri, encoding='ISO-8859-1')
movies.head(5)

                     Titulo  Documentary  ...  Investimento  Gostou
0              Nixon (1995)            0  ...      7.930748       1
1  Leaving Las Vegas (1995)            0  ...     18.276555       1
2         Persuasion (1995)            0  ...     16.582232       1
3               Babe (1995)            0  ...     13.004553       1
4         Carrington (1995)            0  ...     14.418120       1

[5 rows x 17 columns]

Informações o dataset

In [5]:
Counter(movies['Gostou'])

Counter({0: 135, 1: 543})

Quantidade Gostou

In [8]:
print('Gostou {}'.format((543/(135+543))))

Gostou 0.8008849557522124

Quantidade 'Não-gostou'

In [9]:
print('Nao Gostou {}'.format((135/(135+543))))

Nao Gostou 0.19911504424778761

Dividir o dataset

In [0]:
features = movies[movies.columns[1:16]]
labels = movies[movies.columns[16:]]

treino, teste, treino_labels, teste_labels = 
train_test_split(features, labels, test_size=0.25)

In [11]:
Counter(treino_labels['Gostou'])

Counter({0: 96, 1: 412})

In [12]:
Counter(teste_labels['Gostou'])

Counter({0: 39, 1: 131})

In [13]:
print('Gostou % {} do treino_label'.format(412/(412+131)))

Gostou % 0.7587476979742173 do treino_label

In [14]:
print('Nao Gostou % {} do treino_label'.format(131/(412+131)))

Nao Gostou % 0.24125230202578268 do treino_label

A Regressão Logistica